@media print {
  header, footer {
    display: none;
  }
}

:host {
  display: grid;
  grid-template-columns: auto minmax(0, 1fr);
  height: 100vh;
  overflow: hidden;
}

header {
  padding: 2rem 2rem 0;

  display: grid;
  grid-template-rows: auto minmax(0, 1fr) auto;
  grid-gap: 1rem;
  height: 100%;
  border-right: 1px solid var(--border-color);

  zh-nav {
    overflow: auto;
    min-height: 0;
  }
}

article {
  overflow: auto;
  min-height: 0;
  min-width: 0;
  padding: 2rem;
}
