{% extends "index.html" %}<!---->
{% block main %}

<style>

    ul, ol {
        padding: 0;
        list-style: none;
    }

    @media (min-width: 1300px) {

        .footer {
            display: none;
        }
    }

    @media (max-width: 1300px) {


        details#main[open] #summary-container h1 {
            visibility: hidden;
        }


        #resume h2 {
            white-space: nowrap;
        }

    }

    section#resume {

        --subdued: var(--tw-prose-captions);

        pointer-events: auto;
        display: flex;
        flex-direction: column;
        margin: auto;
        padding: 1em;
    }

    section#resume > section {
        border-top: 1px solid var(--subdued);
        margin-top: 2rem;
        padding-top: 1rem;
        display: grid;
        grid-template-columns: 8rem 1fr;
    }

    @media (max-width: 400px) {
        section#resume > section {
            display: block;
        }
    }

    p {
        text-align: justify;
    }


    details#main[open] .resume-link span {
        display: none;
    }

    details#main[open] .resume-link:before {
        content: "←back";
    }

    section#skills ul {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(3, 1fr);
        padding: 0;
    }

    @media (max-width: 700px) {
        section#skills ul {
            display: block;
            grid-template-columns: 1fr 1fr;
        }

        section#resume > section {
            grid-template-columns: 1fr;
            gap: 1em;
        }

        section#skills ul {
            display: block;
        }

        section#skills li {
            margin-bottom: 1rem;
        }
    }

    section#skills li p {
        text-align: left;
    }

    section#technical ul {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 0.5em;
    }

    section#experience summary {
        position: relative;
        margin-bottom: 0.5em;
        cursor: pointer;
    }

    @media (max-width: 512px) {
        section#experience summary h5 {
            display: inline-block;
            width: 100%;
        }
    }

    section#experience summary:hover {
        text-decoration: underline;
    }

    section#experience summary span {
        text-align: right;
        font-size: 0.8em;
        position: absolute;
        right: 0;
    }

    section#experience summary > * {
        display: inline;
    }

    section#experience ul.summary-list {
        list-style: circle;
        margin-left: 2em;
    }

    section#experience details p, section#experience details ul {
        margin: 1em 1em;
    }

    section#experience details li:before {
        color: var(--subdued);
    }

    section#experience h4 em {
        color: var(--subdued);
        font-size: 0.8em;
        line-height: 1em;
    }

    section#experience h4 em:before {
        content: "(";
    }

    section#experience h4 em:after {
        content: ")";
    }

    section#experience details > ul:last-child {
        display: grid;
        grid-template-columns: repeat(auto-fit, 100px);
        grid-gap: 0.5em 1em;
        width: 100%;
    }

    section#experience details > ul:last-child > li {
        color: var(--subdued);
    }

    .contact-info {
        display: none;

    }


    button#print {
        border: none;
        background: none;
        cursor: pointer;
        font-size: 1.5em;
    }

    @media print {

        button {
            display: none;
        }

        .contact-info {
            margin-top: 1em;
            display: grid;
            column-gap: 1em;
            grid-template-columns: min-content min-content;
        }

        #email:after {
            content: "zak.henry@gmail.com";
        }

        #phone:after {
            content: "027 275 0752";
        }

        details#main[open] #avatar {
            height: 180px;
        }

        header {
            display: none;
        }

    }


</style>

<section id="resume">

  <div>
    <h2>Zak Henry - Resume</h2>

    <dl class="contact-info">
      <dt>Email</dt>
      <dd id="email"></dd>
      <dt>Phone</dt>
      <dd id="phone"></dd>
      <dt>Github</dt>
      <dd>https://github.com/zakhenry</dd>
      <dt>LinkedIn</dt>
      <dd>https://www.linkedin.com/in/zakhenry</dd>
    </dl>
  </div>

  <section>
    <h3>Profile</h3>
    <div>
      <p>Experienced chief full stack software engineer, specialising in highly interactive Angular single
        page applications integrating with gRPC & REST APIs. Significant experience working with backend
        technologies including Kotlin, Python, Node.js, SQL, Docker & AWS.
      </p>
      <p>Currently working fully remote from Wānaka, New Zealand as a chief engineer at
        <a href="https://cloudnc.com">CloudNC</a>.
      </p>
    </div>
  </section>

  <section id="skills">
    <h3>Skills</h3>
    <ul>
      <li>
        <h4>Angular</h4>
        <p>Worked professionally with Angular since 2013 developing highly interactive web applications</p>
      </li>

      <li>
        <h4>Protocol Design</h4>
        <p>Passionate about robust API design/interaction with both gRPC and REST protocols</p>
      </li>

      <li>
        <h4>Backend Development</h4>
        <p>Experienced backend developer in languages including Kotlin, Typescript & Python</p>
      </li>

      <li>
        <h4>Automated Testing</h4>
        <p>Proponent of continuous deployment backed by strong testing patterns.
          Experienced in unit, integration and e2e testing</p>
      </li>

      <li>
        <h4>Cloud Infrastructure</h4>
        <p>Strong experience with
          developing cloud infrastructure
          using Docker and AWS
        </p>
      </li>

      <li>
        <h4>Project Leadership</h4>
        <p>Principal engineer, experienced with coaching and managing developers both on and off-shore
        </p>
      </li>
    </ul>
  </section>

  <section id="technical">
    <h3>Technologies</h3>
    <ul>
      <li>Typescript</li>
      <li>Angular</li>
      <li>NX</li>
      <li>NgRx</li>
      <li>RxJS</li>
      <li>Angular</li>
      <li>WebGL</li>
      <li>Python</li>
      <li>Kotlin</li>
      <li>Rust</li>
      <li>WASM</li>
      <li>Node.js</li>
      <li>TDD/BDD</li>
      <li>HTML/SCSS</li>
      <li>REST APIs</li>
      <li>gRPC</li>
      <li>SQL</li>
      <li>Docker</li>
      <li>CI/CD</li>
      <li>Git/Github</li>
      <li>Atlassian Suite</li>
      <li>Docker Cloud</li>
      <li>macOS</li>
      <li>Linux</li>
    </ul>
  </section>

  <section id="experience">
    <h3>Experience</h3>

    <ol>

      <li>
        <details>
          <summary>
            <h4>CloudNC <em>UK / NZ Remote</em></h4>
            <h5>Chief Software Engineer</h5>
            <span>2017 - now</span>
          </summary>

          <p>Technical lead, building full stack web-based user interfaces. Highly interactive
            applications including heavy use of WebGL. Multiple frontend applications all managed with
            a NX monorepo with a custom CI/CD pipeline integrated with Gitlab using Deno.</p>
          <ul>
            <li>Angular</li>
            <li>gRPC</li>
            <li>Rust</li>
            <li>NX</li>
            <li>Kotlin</li>
            <li>Python</li>
            <li>WebGL</li>
            <li>Cypress</li>
            <li>Playwright</li>
            <li>Docker</li>
            <li>WASM</li>
            <li>NestJS</li>
          </ul>
        </details>
      </li>


      <li>
        <details>
          <summary>
            <h4>Yieldify <em>UK</em></h4>
            <h5>Tech Lead/Senior Full Stack Engineer</h5>
            <span>2016 - 2017</span>
          </summary>

          <p>Leading the UI/API, developing Angular 2+ user interface for
            marketing platform. Advisor on cross-component API interfaces, in addition to cloud
            infrastructure planning.</p>
          <ul>
            <li>Angular</li>
            <li>Rails</li>
            <li>Swagger</li>
            <li>Docker</li>
            <li>SQL</li>
          </ul>
        </details>
      </li>

      <li>
        <details>
          <summary>
            <h4>Zeroth <em>UK</em></h4>
            <h5>Founder</h5>
            <span>2016</span>
          </summary>

          <p>Developing the Zeroth framework, a Typescript full stack NodeJS framework built on the
            Angular 2
            dependency injector service/pattern.</p>

        </details>
      </li>

      <li>
        <details>
          <summary>
            <h4>IQuitSugar <em>AU</em></h4>
            <h5>Lead Senior Full Stack Developer</h5>
            <span>2015 - 2016</span>
          </summary>

          <p>Project lead, working under the CTO to develop the infrastructure and development design of a
            new web
            application to replace their legacy Wordpress application. Managing two developers in
            Sydney, and three
            others offshore. Development was primarily with AngularJS (using Typescript) using a
            self-developed
            framework, and development of the CI/Docker infrastructure for cloud deployment.</p>

          <ul>
            <li>AngularJS</li>
            <li>Laravel</li>
            <li>Docker</li>
            <li>Tutum</li>
          </ul>
        </details>
      </li>

      <li>
        <details>
          <summary>
            <h4>4mation Technologies <em>AU</em></h4>
            <h5>Senior Front End Developer</h5>
            <span>2013 - 2015</span>
          </summary>

          <p>Role primarily involved developing web applications in AngularJS, with heavy involvement in
            backend
            technologies including Node.js, PHP and MySQL. Specialising in Javascript and REST API
            development,
            the role involved taking a project through the full development pipeline.</p>
          <ul>
            <li>AngularJS</li>
            <li>Laravel</li>
            <li>CodeIgniter</li>
            <li>SQL</li>
          </ul>
        </details>
      </li>

      <li>
        <details>
          <summary>
            <h4>KODE Biotech Limited <em>NZ</em></h4>
            <h5>Application Developer</h5>
            <span>2007 - 2013</span>
          </summary>

          <ul class="summary-list">
            <li>Quality assurance software development</li>
            <li>Laboratory technician</li>
            <li>Web development (web based sales management, project management application, quality
              assurance systems)
            </li>
          </ul>

          <ul>
            <li>HTML/CSS</li>
            <li>Javascript</li>
            <li>PHP</li>
            <li>Excel</li>
          </ul>

        </details>
      </li>

    </ol>

  </section>

  <section>
    <h3>Education</h3>

    <div>
      <h4>Auckland University of Technology</h4>
      <p>Bachelor of Creative Technologies</p>
    </div>
  </section>

  <div class="links footer">
    <a href="https://github.com/zakhenry">Github</a>
    <a href="https://twitter.com/zak">Twitter</a>
    <a href="https://www.linkedin.com/in/zakhenry">LinkedIn</a>
  </div>

<button id="print" onclick="document.querySelectorAll('details').forEach((it) => it.open = true); print()">🖨
</button>

</section>
{% endblock main %}
