:root {
  --primary: #b65e14;
  --subdued: grey;
  --default: black;
  --background: white;
  --image: url(#image-bg);
  --border-color: var(--subdued);
}

@media not print {
  @media (prefers-color-scheme: dark) {
    :root {
      --primary: #5ac4eb;
      --default: #e0e0e0;
      --background: lch(8 0 0);
      --subdued: #bbb;
    }
  }
}

@media print {

  :root {
    --primary: #666;
  }

}

* {
  box-sizing: border-box;
  margin: 0;
  color: var(--default);
}

@font-face {
  font-family: "EBGaramond";
  src: url("/assets/fonts/EBGaramond-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-stretch: 75% 125%;
  font-style: normal;
}

@font-face {
  font-family: "Noto";
  src: url("/assets/fonts/NotoSans-VariableFont_wdth,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

html, body {
  height: 100%;
  background: var(--background);
  font-family: "Noto", sans-serif, system-ui, -apple-system;
}

